@model List<pickkado.Models.GiftDummy>

@foreach (var item in Model)
{
    <div class="item">
                            <a class="url_product" href="product?id=@item.Id">
                                <img src="../Images/@item.ImageUrl" />
                            </a>
                            
                            <div class="detail">
                                <div class="titleproduct">
                                    <a href="product?id=@item.Id>">@item.Title</a>
                                
                                </div>
                                <table style="width:100%;">
                                    <tr>
                                        <td class="price">
                                           Rp. @item.Price
                                        </td>
                                        <td class="location">
                                            <img src="../../Images/icon/loc.png" /> @item.Location
                                        </td>
                                    </tr>
                                </table>
                                <div class="shopname" >
                                
                                    <a href="index.aspx"> 
                                        <img src="../Images/icon/shopname.png" />
                                        @item.PenjualName</a>
                                </div>

                            </div>
                        </div> 
}